body{
color: aliceblue;
background-color: black;
}

.bot-army {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 30px; 
    
  }
  .your-bot-army{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    background-color: rgb(68, 63, 63); 
   
  }